<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Logins</td><td>LoginPage_Test.Login_Admin()[pri:0, instance:org.neosoft.test.LoginPage_Test@1e397ed7]<br/></td></tr>
</table>
